@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Nook | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link href="carousel.css" rel="stylesheet">
</head>

<body>
    @if (HttpContextAccessor.HttpContext.Session.GetString("username") != null)
    {
        <header>
            <nav class="navbar navbar-expand-sm sticky-top navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand text-info" asp-area="" asp-controller="Home" asp-action="Index">The Nook</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            @if (HttpContextAccessor.HttpContext.Session.GetString("usertype") == "Rentee")
                            {
                                <li class="nav-item">
                                    @*<a class="nav-link text-info" asp-area="" asp-controller="Rentee" asp-action="GetAllRentees">Friends</a>*@
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-info" asp-area="" asp-controller="Rentee" asp-action="Details">MyDetail</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-info" asp-area="" asp-controller="Appointment" asp-action="AllRenteeAppointment">MyAppointment</a>
                                </li>
                            }
                            @if (HttpContextAccessor.HttpContext.Session.GetString("usertype") == "Renter")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-info" asp-area="" asp-controller="Rentee" asp-action="GetAllRentees">Friends</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-info" asp-area="" asp-controller="Renter" asp-action="Details">MyDetail</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-info" asp-area="" asp-controller="Appointment" asp-action="AllAppointment">MyAppointment</a>
                                </li>
                            }

                        </ul>
                    </div>
                    <form class="form-inline ">
                        <button class="btn btn-outline-info text-dark my-2 my-sm-0" type="submit" asp-area="" asp-controller="User" asp-action="Logout">Logout</button>
                    </form>
                </div>
            </nav>
        </header>
    }
   else
    {
        <header>
            <nav class="navbar navbar-expand-sm sticky-top navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand text-info" asp-area="" asp-controller="Home" asp-action="Index">The Nook</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-controller="Rentee" asp-action="Index">Friends</a>

                            </li>*@
                        </ul>
                    </div>
                    <form class="form-inline ">
                        <button class="btn btn-info text-light my-2 my-sm-0" type="submit" asp-area="" asp-controller="User" asp-action="Login">Login</button>                       
                    </form>
                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class=" border-top footer text-muted">
        <div class="container">
            &copy; 2022 - The Nook App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

