@model NookMainApp.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "Edit Appointment";
}

<h2>Edit your appointment?</h2>
<a asp-action="AllAppointment" class="btn btn-outline-info">Back</a>
<hr />

<div class="row">
    <div class="col-md-6">
        @if (ViewBag.Message != "")
        {
            <span class="text-danger" id="viewbagMessage">@ViewBag.Message</span>
        }
        <form asp-action="Edit">
            <div class="form-group">
                <span class="text-danger" id="alertMessage"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentId" class="control-label"></label>
                <input asp-for="AppointmentId" class="form-control" readonly />
                <span asp-validation-for="AppointmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rentee.NickName" class="control-label"></label>
                <input asp-for="Rentee.NickName" class="form-control" readonly />
                <span asp-validation-for="Rentee.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDateTime" class="control-label"></label>
                <input asp-for="StartDateTime" onchange="checkStartDate()" class="form-control" />
                <span asp-validation-for="StartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateTime" class="control-label"></label>
                <input asp-for="EndDateTime" onchange="checkEndDate()" class="form-control" />
                <span asp-validation-for="EndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fees" class="control-label"></label>
                <input asp-for="Fees" class="form-control" readonly />
                <span asp-validation-for="Fees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalFees" class="control-label"></label>
                <input asp-for="TotalFees" class="form-control" readonly />
                <span asp-validation-for="TotalFees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementDate" class="control-label"></label>
                <input asp-for="PlacementDate" class="form-control" readonly />
                <span asp-validation-for="PlacementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <textarea asp-for="Remark" class="form-control"></textarea>
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" readonly />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info" />
                <a asp-action="AllAppointment" class="btn btn-outline-info">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var earliestDate = new Date(new Date(Date.now()).getTime() + 60 * 60 * 24 * 1000);

        function checkStartDate() {
            var start = new Date(document.getElementById("StartDateTime").value);
            var end = new Date(document.getElementById("EndDateTime").value);

            if (new Date(start) < earliestDate) {
                document.getElementById("alertMessage").innerHTML = "Please enter a date at least a day later.";
                document.getElementById("StartDateTime").value = earliestDate;
            }
            else {
                document.getElementById("alertMessage").innerHTML = "";
                document.getElementById("EndDateTime").value = start;
            }

            document.getElementById("TotalFees").value = Math.Ceil((end - start) / 3600000);
        }

        function checkEndDate() {
            var end = new Date(document.getElementById("EndDateTime").value);
            var start = new Date(document.getElementById("StartDateTime").value);

            if (new Date(start) < earliestDate) {
                document.getElementById("alertMessage").innerHTML = "Please enter a date at least a day later.";
                document.getElementById("StartDateTime").value = earliestDate;
            }

            if (end < start) {
                document.getElementById("alertMessage").innerHTML = "Please enter a valid End Date and Time.";
                document.getElementById("EndDateTime").value = "";
            }
            else {
                document.getElementById("alertMessage").innerHTML = "";
                var totalTime = end - start;
                var timeInHour = Math.ceil(totalTime / 3600000);
                var totalFee = timeInHour * document.getElementById("Fees").value;
                document.getElementById("TotalFees").value = totalFee;
            }
        }

    </script>

}
