@model NookMainApp.Models.User

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4">
        <h1>Welcome back!</h1>
        <h4>Login</h4>
        <hr />
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-info text-light" />
            </div>
        </form>

        <div>
            Don't have an account? <a asp-action="Register">Register here</a>.
        </div>
    </div>

    <div class="col-md-8">
        <img src="/images/john-arano-_qADvinJi20-unsplash.jpg" alt="login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
